<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>年鉴新增页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
</head>
<style>
    #sysTitle{
        text-align: center;

    }
    #add{
        font-size: 15px;
        margin-right: 20px;
    }

</style>
<body>
<h1 id="sysTitle">滁州学院年鉴信息管理系统</h1>
<hr>

<div style="background: lightgoldenrodyellow;text-align: center">
    <form action="infoAjax" id="info_form" method="post" enctype="multipart/form-data">
        年份：<input type="number" placeholder="请输入年份" name="title" id="title"><br>
        标题：<input type="text" placeholder="请输入标题" name="year" id="year"><br>
        作者：<input type="text" placeholder="请输入作者" name="author" id="author"><br>
        备注：<input type="text" placeholder="请输入备注" name="remark" id="remark"><br>
        内容：<input type="file" name="myfile" id="myfile" ><br><br><br>
        <input type="submit" id="tijiao" value="提交">
    </form>
</div>

</body>
</html>
<script>

</script>