<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>滁州学院年鉴信息管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
</head>
<style>
    #sysTitle{
        text-align: center;

    }
    #add{
        font-size: 15px;
        margin-right: 20px;
    }
    #div1{
        text-align: right;
    }
</style>
<body>
    <h1 id="sysTitle">滁州学院年鉴信息管理系统</h1>
    <div id="div1">
        <button id="add" onclick="javascrtpt:window.location.href='add.html'">&nbsp;新&nbsp;&nbsp;增&nbsp;</button>
    </div>
    <hr>
</body>
</html>
<script>
    /*新增年鉴点击事件*/
//    $("#add").on("click",function(){
//        console.log("新增年鉴点击事件");
//
//
//    });
</script>