<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {block name="title"}
    <title>管理平台</title>
    {/block}
    <!--<link rel="stylesheet" href="../src/css/layui.css">-->
    <link rel="stylesheet" href="__ROOT__/plug-in/layui/css/layui.css">
    <!-- <link rel="stylesheet" href="__ROOT__/static/css/thl.css"> -->
    <!--<link rel="stylesheet" href="__ROOT__/plug-in/layui/css/layui.css" />-->

    <!--<script src="__STATIC__/js/jquery-1.8.3.js"></script>-->
    <!--<script src="__STATIC__/js/jquery-3.0.0.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>

    <script type="text/javascript" src="__ROOT__/plug-in/layui/layui.all.js"></script>

    <link rel="stylesheet" href="__STATIC__/css/bootstrap.css" />
    <script type="text/javascript" src="__ROOT__/static/js/bootstrap.js"></script>
    <!--UEitor编辑器-->
    <script type="text/javascript" charset="utf-8" src="__JS__/plug-in/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/plug-in/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__JS__/plug-in/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        {block name="nav"}
        <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="{:url('Info/Index')}">年鉴列表</a></li>
          {if condition="$Think.session.user.user_flag eq 0"}
            <li class="layui-nav-item"><a href="{:url('Manage/Index')}">年鉴管理</a></li>
            <li class="layui-nav-item"><a href="{:url('System/Index')}">用户管理</a></li>
           {/if}
        </ul>

        {/block}
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {$Think.session.user.student_id|default="未登录"}
                    
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">
                    {if condition="$Think.session.user.user_flag eq 0"}
                        超级管理员
                    {else /}
                        普通用户
                    {/if}
                    </a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="user_exit">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {block name="left_nav"}
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
            {/block}
        </div>
    </div>

    {block name="content"}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域--</div>
    </div>
    {/block}

    {block name="footer"}
    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        <!-- author:   ahtcwangjian@qq.com -->
    </div>
    {/block}
</div>

{block name="th_script"}
<script src="__ROOT__/plug-in/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

        /*ajax 用户  退出  按钮 点击事件*/
        $("#user_exit").on("click",function()
        {
//        alert("你确定退出么？");
            layer.open({
                title: '提示'
                ,content: '您确定退出当前平台么?',
                yes: function(index, layero){
                    //do something

                    $.ajax({
                        type: "POST",
                        url: "{:url('Index/logout')}",
                        data: $("#loginForm").serialize(),
                        dataType: "json",
                        success: function (data) {

//                            console.log("success");
//                            console.log(data.data);
                            if(data.data=='1')
                            {
                                window.location.href="{:url('Index/index')}";
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown){
                            alert("error");
                        }
                    })

                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    console.log("yes");
                }

            });
        });

    });
</script>


{/block}
</body>
</html>