{extend name="public/base"/}

{block name="title"}
<title>年鉴首页</title>
{/block}

{block name="nav"}
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item nav_selected"><a href="{:url('Info/Index')}">年鉴列表</a></li>
    <li class="layui-nav-item"><a href="{:url('Manage/Index')}">年鉴管理</a></li>
    <li class="layui-nav-item"><a href="{:url('System/Index')}">用户管理</a></li>
</ul>


{/block}

{block name="left_nav"}
<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item"><a href="">年鉴列表</a></li>
</ul>

{/block}

{block name="content"}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域--年鉴列表页</div>
</div>
{/block}

{block name="footer"}
<div class="layui-footer" style="text-align: center">
    <!-- 底部固定区域 -->
    管理首页
</div>
{/block}

{block name="th_script"}
{__block__}
{/block}